body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color:lightcyan;
    color: #333;
}

header {
    background-color: rgb(108, 108, 144);  
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color:lightgoldenrodyellow; 
    text-align: center;
    padding: 10px;
}

nav a {
    color: rgb(143, 143, 101);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: lightcoral ; 
}

section {
    background-color: beige;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #276fab;
    color: white;
}

button {
    background-color: #276fab;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:lightblue;
}

hr {
    border: none;
    height: 2px;
    background-color: lightblue;
    width: 80%;
    margin: 20px auto;
}

footer {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    padding: 10px;
}